.row
  .col.col--12-of-12
    h2 About
    img.headshot(src="img/headshot.png", alt="Rhonda Sher, The LinkedIn Diva")
    p Rhonda L Sher is known as the LinkedIn Diva.  She has been using LinkedIn since 2006 and has trained hundreds of business professionals to leverage LinkedIn, the world’s #1 business focused social network to reach their business and personal goals.  In addition to being the author of three books including The Two Minute Networker, The ABC’s of LinkedIn, Get LinkedIn or Get Left Out and Avoid the Business Card Pile-up/ 52 Ways to Boost Business With Your Business Card, Rhonda is the creator of the Biz Card Caddy as well as several audio and video programs.

    p Rhonda has been a monthly columnist for the National Networker and a certified trainer of Pipeline with The Referral Institute. She has given hundreds of keynote speeches across the country and trainings on LinkedIn.  Rhonda considers herself to be a marketing strategist with a talent for combining online and offline networking to convert relationships to revenue.  She is known for her interactive and fun teaching methods where business professionals learn how to use LinkedIn to find new leads at NO COST and how to create a LinkedIn profile that leads to profit.
