header
  img(src="img/Rhonda_Blog.png", alt="LinkedIn Diva - Rhonda Sher")
  //- nav.row
  //-   ul(role="navigation" class="main-nav col col--12-of-12")
  //-     li
  //-       a(href="https://www.linkedin.com/in/RhondaLSher")
  //-         i.fa.fa-linkedin
  //-     li
  //-       a(href="#")
  //-         i.fa.fa-twitter
  //-     li
  //-       h1.logo Rhonda Sher
  //-     li
  //-       a(href="https://www.youtube.com/user/twominutenetworker")
  //-         i.fa.fa-youtube
  //-     li
  //-       a(href="#")
  //-         i.fa.fa-facebook
  //-       
    //
      ul.socials.col.col--6-of-12
      li
        a(href="#")
          
      li    
        a(href="#")
          
      li  
        a(href="#")
          
      li  
        a(href="#")
          
