section.testimonials
  .row
    .col.col--12-of-12
      h2 John Pyke Says:
      img.headshot(src="http://placehold.it/250x250", alt="Hiring Consultant John Pyke")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit assumenda impedit laboriosam, quia velit eum voluptatum, corporis sunt minima libero ipsum fugiat placeat nesciunt nobis quo! Quod dolores placeat provident!
