include ./includes/head.jade

body
  //if lt IE 8
    <p class="chromeframe">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
  
  main
    include ./includes/header.jade
    .row
      .col.col--6-of-12
        p(style="text-align: center;") <script src="//platform.linkedin.com/in.js" type="text/javascript"></script> <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/RhondaLSher" data-format="inline" data-related="false"></script>            
        p Rhonda Sher, the creator of <strong>The Two Minute Networker™</strong> concept and author of the book, <strong><em>The Two Minute Networker™</em></strong> has become a nationally recognized expert in business networking.  She is the author of The Two Minute Networker, The ABC’s of LinkedIn, Get LinkedIn or Get Left Out and How to Avoid the Business Card Pile-Up – 52 Ways to Boost Your Business with Business Cards.
        p Rhonda is the expert at teaching entrepreneurs and small business owners how to eliminate the common cold call and replace it with warm handshakes and networking using LinkedIn.  Rhonda helps small business owners, coaches, trainers, sales executives, realtors, mortgage professionals and others leverage LinkedIn to generate more sales, increase credibility and add clients and take relationships to revenue using LinkedIn.
        p Rhonda’s natural humor, interactive approach and 20 years of  business experience has brought her into the forefront as a much desired national keynote speaker and trainer, teaching her powerful and practical networking techniques and inside secrets to take your Profile to Profit using LinkedIn. 
        p The thousands who have worked with Rhonda have, in many cases, doubled and tripled their income. She is an expert at writing LinkedIn profiles and teaching others how to use LinkedIn to generate an endless pipeline of qualified leads.  When it comes to LinkedIn, you won’t be “left out” when you work with Rhonda.

      .col.col--6-of-12    
        h2 Attention Sales and Business Professionals:
        h3 Learn Why You Need LinkedIn Even If You Don’t Think You Do
        p Get my free Tip Sheet - Ten Ways to Perfect Your Profile - Go From <em>Profile to Profit</em>
      
        form( class="doc-form" method="post" action="http://oi.vresp.com?fid=d65059fc7e")
          .row
            .col.col--6-of-12
              input.first_name(type="text" name="first_name" placeholder="First Name*" required)
            .col.col--6-of-12  
              input.last_name(type="text" name="last_name" placeholder="Last Name*" required)
          .row
            .col.col--12-of-12    
              input.phone(type="text" name="mobile_phone" placeholder="Phone*" required)
          .row  
            .col.col--12-of-12  
              input.email(type="text" name="email_address" placeholder="Email*" required)
          .row
            .col.col--12-of-12
              input(type="submit" value="Submit")
    
        //include ./includes/salestext.jade
      //- .col.col--6-of-12
      //-   img.character(src="img/diva_cutout.png", alt="")  
    .row
      .col.col--12-of-12
        h2 Book an Appointment with Rhonda
        hr
        P Just choose a time!
        #bookingjs
    
    include ./includes/testimonials.jade
    //include ./includes/about.jade

      

include ./includes/footer.jade
